<div class="article">
	<div id="artBackTrans">
		<div class="somePadding">
        <h1 style="margin-bottom:0.7em;">Logga in</h1>
		<form name="logInForm" ng-controller="logInCtrl" ng-submit="submitForm($event)">
			Användarnamn:<br />
			<input type="text" name="userName" ng-model="username" value="" required> <br />
			<span ng-show="logInForm.userName.$error.required">Du måste ange användarnamn<br /></span><br />
			
            Lösenord:<br />
			<input type="password" name="password" ng-model="password" value="" required> <br />
			<span ng-show="logInForm.password.$error.required">Du måste ange password!<br /></span><br />
			
            <input type="submit" class="btn btn-default">
		</form>
        </div>
	</div>
</div>