

<div class="article"style="text-align:left;" >
		<div id="artBackTrans">
			<div id="artImage">
            <div class="somePadding">
            
			<h1>Create Article</h1>
				<!-- <img ng-src="{{a.imgSrc}}"/> 
			

			<div id="artTitle">
				<span><h3>{{a.artTitle}}</h3></span>
			</div>-->

	<div id="artText">
			<form name="myForm" ng-controller="formCtrl" ng-submit="submitForm($event)" >

		<div class="form-group" >
			<label>Title</label>
			<input name="newTitle" type="text" class="form-control" ng-model="form.title" required />
			<span ng-show="myForm.newTitle.$error.required">Du måste ange en titel</span>
		</div>

		<div class="form-group">
   			Image: <input name="newImage" style="display:inLine;" type="file" id="exampleInputFile" ng-model="form.image" >

    		<p class="help-block">Choose an image from computer.</p>
    	</div>

    	<div class="form-group">
    		<textarea class="form-control" rows="5" name="newText" ng-model="form.text" placeholder="Your own Text" required ></textarea>
    		<span ng-show="myForm.newText.$error.required">Du måste ange en text</span>
    	</div>
		<div class="form-group">
			<label>Välj kategori</label>
			<select class="form-control" ng-model="category" ng-options="o as o for o in options | filter: createFilter" ng-hide="$first">
				<options value=""></options>
			</select>
		</div>
	</div>
    
    <input type="submit" value="Send" class="btn btn-default">
 
</form>
			</div>
            </div>
		</div>
</div>



