 <div>
	<div class="article">
		<div id="artBackTrans">
			<div id="artImage">
            <div style="position:relative; width:100%;">
				<span class="glyphicon glyphicon-remove-circle comDel" ng-show="isLoggedIn" ng-click="delContent(article)" style="position:absolute; top: 1em; right:1em;"></span></div>
				<img ng-src="{{article.imgSrc}}"/>
			</div><br/>
			
				<div class="somePadding" style="width:100%;">
                
  				<div id="artTitleWhole">
  		                <!--<span class="glyphicon glyphicon-remove-circle comDel" ng-show="isLoggedIn" ng-click="delContent(article)"></span>-->
  						<span><h1>{{article.artTitle}}</h1></span>
  				</div>
         
			 			
			    <div id="artText">
                   <span>{{article.artText}}</span><br />
                       <button id="edit" type="button" class="btn btn-primary btn-lg" ng-show="isLoggedIn" data-toggle="modal" ng-click="editContent(article)" data-target="#myModal">Redigera artikeln</button>	   

				</div> <br /><br /> 
			    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                             <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->

                              <div class="form-group" >
                              <label>Title</label>
                              <input name="newTitle" type"text" class="form-control" ng-model="formUptitle" required />
                              <!--  <span ng-show="myForm.newTitle.$error.required">Du måste ange en titel</span> -->
                              </div> 
                           </div>

                           <div class="modal-body">
                             <div class="form-group">
                               Image: <input name="newImage" style="display:inLine;" type="file" id="exampleInputFile" ng-model="formUpimage" >
                                 <p class="help-block">Välj en ny bild(valfritt)</p>
                             </div>
                            <div class="form-group">
                              <textarea class="form-control" rows="5" name="newText" ng-model="formUptext" placeholder="Your own Text" required ></textarea>
                             <!--  <span ng-show="myForm.newText.$error.required">Du måste ange en text</span> -->
                            </div>
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                            <button type="button" class="btn btn-primary" ng-click="updateArticle(article)" data-dismiss="modal" >Uppdatera</button>
                           </div>
                       </div>
                   </div>
                </div>   
                <hr style="border: 0; border-top: 1px solid #fff;">
                
                <div style="margin-top:0em;">
                    
                    <h3>Kommentera</h3>
                    <form name="commentForm" ng-controller="showArtCtrl" ng-submit="submitCommentForm($event)" >
				        </div>
				<div class="form-group" >
				    <input name="newTitle" type="text" class="form-control" placeholder="Enter your name" ng-model="form.name" required />
				</div>

    			<div class="form-group">
                <textarea class="form-control" name="newText" placeholder="Enter a comment" ng-model="form.text" required></textarea>
				</div>

    			<input type="submit" value="Send" class="btn btn-default">
				</form>
                
				

                <hr style="border: 0; border-top: 1px solid #fff;">
                
                <div ng-repeat="(id, com) in article.comments | reverser" style="margin-bottom:1em;">
                    <span class="glyphicon glyphicon-remove-circle comDel" ng-show="isLoggedIn" ng-click="delComment(com)"></span>
                	<b><u><span>{{com.name}}:</span></u></b> <br />
                	<span>{{com.text}}</span> <br />
                	<hr>
				</div >
                 <!-- Button trigger modal -->
 
<!-- Modal -->
					</div>
                </div>                              
			</div>
		</div>
	</div>
</div> 