<div ng-repeat="a in theArticles | reverser | filter:catFilter | filter:searchFilter" >
	<div class="article" ng-click="whichArt(a.$id)">
		<div id="artBackTrans">
        
        
        
        
        <div style="position:relative; width:100%;">
			<div style="position:absolute; background-color:#000; opacity:0.3; width:100%; top:0px; left:0px; color:#000; padding:1em;">asd
            </div>
            <div style="position:absolute; opacity:1; width:100%; top:0px; left:0px;"><span id="artCat">{{a.category}}</span></div>        
        </div>
        
        
        
			
			<div id="artImage">
				<img ng-src="{{a.imgSrc}}"/>
			</div>

			<div id="artTitle">
				<span><h1>{{a.artTitle}}</h1></span>
			</div>
<!--
			<div id="artText">
				<span>{{a.artText}}</span>
			</div>
-->
		</div>
	</div>
</div>