@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Oswald);

body {		
	/* background-color:#9FC; */
	background-image:url(Images/back3.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position:center;
	font-family: 'Oswald', sans-serif;
}

.article div {
	/* border: 3px solid yellow; */
}

.somePadding {	
	/* margin: 0 auto; */
	padding: 1em;
	width:100%;	
	}

h1 {
	font-size:5em;
}
#artTitleWhole {
	width:100%;	
}
.menuColor {
	color:white;
}
#artTitleWhole h1{
	padding:0em;
	margin: 0;
	width:100%;
	margin-bottom:0.4em;
	
}

h1, h3 {
	color:white;
	margin-bottom:1em;
	font-family: 'Oswald', sans-serif;	
}

#artTitle h1 {
	padding:0.4em;
	margin: 0;
	margin-bottom:0.4em;
}


.col-md-4 {
	
}

.header {
	padding: 0em;
	width: 70%;
	margin: 1em auto 1em auto;
}

.header #rightMenu {
	float: right;
}
.header .rightSide {
	float: right;
	margin-left: 3px;
}

.article input {
	-webkit-appearance: none;
	border: none;
	color:#666;
	border-bottom: 1px solid black;
	box-shadow: 0 1px 3px 0px #666;
	border-radius: 5px;
	width:50%;
}

.article textarea {
	width:50%;
}


.article select {
	width:50%;
}


.article {
	margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
	margin-bottom:5em;
    text-align: left;
	width: 70%;
	padding: 0em;
	color: white;
}

#artBackTrans {
	box-shadow: 0 0 15px black;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(255,255,255,1); */
	background-color:#000;
	width: 100%;	
}

#artBackTrans {
	padding:0em;

}

#artCat {
	color: white;
	float: left;
	clear: both;
	padding: 1em;

}
.article .comDel {
	display: block;
	float: right;
}

#artImage{
	/*display: block;
    margin-left: auto;
    margin-right: auto; */	
	width: 100%;
}

#artTitle {
	text-align:center;

}
#artImage img{
	margin-top: 0em;
	width: 100%;
	margin-left:0em;
}

#artText {
	text-align:left;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.glyphicon {
	float: right;
	clear: both;
}
#edit{
	margin-top:1em;
	background-color:lightblue;	 
	border-radius: 5px;
	color:black;
}
#update{
	float: right;
	background-color:lightblue;	 
	border-radius: 5px;
}
.text{
	background-color:lightblue;	
	width: 500px;
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
}
.title{
	background-color:lightblue;	
	width: 300px; 
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
}

